@using System.Activities.Expressions
@using VehicleMVC.Models
@model VehicleMVC.Models.ScheduleVehicle

@{
    ViewBag.Title = "ViewScheduleOfVehicles";
}

<h2>ViewScheduleOfVehicles</h2>

<div>
    <h4>ScheduleVehicle</h4>
    <hr />
    <table class="table table-bordered tab-content table-responsive">
           <tr>
                <td>Date</td>
                <td>Already Booked Shift</td>
            </tr>
       
                 <tr>
                     <td>@Html.DisplayFor(model => model.Date)</td>
                     <td>@Html.DisplayFor(model => model.Shift.Shifts)</td>

                  </tr>
                
            

        </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
